#TextBox {
     padding: 0px;
     font-size: 1px;
     border-width: 0px;
     border-color: #CCCCCC;
     background-color: Transparent;
     color: #000000;
     border-style: hidden;
     border-radius: 0px;
     box-shadow: 0px 0px 0px rgba(255,255,255,.100);
     text-shadow: 0px 0px 0px rgba(255,255,255,.100);
}
#TextBox:focus {
     outline:none;
}
